microscopi.egg-info/
.venv/
# Python
.mypy_cache/
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/
.pybuild/

# Debian build artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper
debian/microscopi/
*.buildinfo
*.changes
*.deb

# gettext backups
*.po~
